@CHARSET "ISO-8859-1";

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#drag {
    position: relative;
    display: block;
}
#headerblock {
    width: 18em;
    background-color: black;
    color: blue;
}
#wrapper {
    width: 18em;
    height: auto;
    background-color: grey;
    color: blue;
}

p.flip {
       margin: 0px;
       padding: 5px;
       text-align: center;
       background: #FF9966; 
       border: solid 1px #c3c3c3;
}

div.panel {
       height: 120px;
       display: none;
       background: white;
}
