@CHARSET "ISO-8859-1";

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#drag {
    position: relative;
    display: block;
}
#headerblock {
    width: 18em;
    background-color: black;
    color: blue;
}
#wrapper {
    width: 18em;
    height: auto;
    background-color: grey;
    color: blue;
}