/* 
    Document   : newcss
    Created on : May 18, 2012, 3:33:43 PM
    Author     : I071985
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
    
}

body {font-family:arial; font-size:11px;}
.clear {clear:both}
/* remove the list style */
#nav {
    margin:0;
    padding:0;
    list-style:none;
}  
     
    /* make the LI display inline */
    /* it's position relative so that position absolute */
    /* can be used in submenu */
    #nav li {
        float:left;
        display:block;
        width:200px;
        background:#ccc;
        position:relative;
        z-index:500;
        margin:0 1px;
    }
         
    /* this is the parent menu */
    #nav li a {
        display:block;
        padding:10px 8px 0 8px;
        font-weight:700; 
        height:23px;
        text-decoration:none;
        color:#fff;
        text-align:center;
        color:#333;
        font-size:120%;
    }
 
    #nav li a:hover {
        color:#fff;
    }
     
    /* you can make a different style for default selected value */
    #nav a.selected {
        color:#f00;
    }
     
        /* submenu, it's hidden by default */
        #nav ul {
            position:absolute;
            left:0;
            display:none;
            margin:0 0 0 -1px;
            padding:0;
            list-style:none;
        }
         
        #nav ul li {
            width:200px;
            float:left;
            border-top:1px solid #fff;
        }
         
        /* display block will make the link fill the whole area of LI */
        #nav ul a {
            display:block; 
            height:15px;
            padding: 8px 5px;
            color:#666;
        }
         
        #nav ul a:hover {
            text-decoration:underline; 
        }
 
/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #nav ul {
    margin:0 0 0 -2px;
}

   div.fullscreen{
    display:block;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    
    
    /*give it some background and border*/
    background:#eee;
    border:1px solid #ddd;
    font-size:150%;
    

  }
  

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#drag {
    position: relative;
    display: block;
    
}

#headerblock {
    width: 18em;
    background-color: black;
    color: blue;
}
#wrapper {
    width: 18em;
    height: auto;
    background-color: grey;
    color: blue;
}




  
